@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} 
#root{
  background-color: #020710;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: #020710;
  overflow-x: hidden;
}


.Main
{
  height: 100vh;
}
.Hero
{
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  position: relative;
}

.bgvideo
{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.about-heading{
  position: relative;
  top: 23px;
  left: 23px;
  background-color: white;
  padding:10px;
  z-index: 11;
  width: 400px;
  height: 70px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 40px;
}

.about-heading p{
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.video-container{
  height: 100vh;
  width: 100%;
  position: relative;
}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 10;
}


.model {
  position: relative;
  top: 10%;
  left: 4%;
  z-index: 1050;
  width: 45%;
  overflow: hidden;
  outline: 0;
  padding: 65px;
}
.model-mobile {
  position: relative;
  top: 0%;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  padding: 50px 30px;
  height: 100vh;
}

.model-heading{
  position: relative;
    top: -25px;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.model-heading-mobile{
  position: relative;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    color: #e9e9e9;
    font-size: 53px;
    font-weight: 700;
  line-height: 55px;
  font-family: 'Poppins', sans-serif;
  
}
.model-desc{
  color: #e9e9e9;
    font-size: 21px;
    font-weight: 600;
    margin-top: 30px;
}
.dates{text-align:'center';font-size:'45px';font-weight:700;display:'flex'}
.date-mobile{
  font-size: 24px;
}
.date-desktop{
  font-size: 30px;
}

.events-name{

}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .model {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #02071052;  
  }
  .model-mobile {
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(8px);
    background-color: #0207108f;  
  }
}
.question{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.answer{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}


.heading{
  text-align: center;
  justify-content: left;
  
}

.heading p{
  color:white;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.heading .faq{
  justify-content: right;
}

.footer-heading{
  text-align: center;
  justify-content: center;
  font-size:25px;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
.footer-link{
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100px;
}
.footer-addr{
  text-align: center;
  justify-content: center;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.circle-container {
  position: relative; 
  width: 1000px;
  height: 685px;
  margin-right: 170px;
}

.theme{
  color: #e9e9e9;
    font-size: 21px;
    font-weight: 600;
    margin-top: 30px;
}

.circle-container div {
  display: block;
  position: absolute;
  top: 45%;
  left: 40%;
  width: 185px;
  /* height: 250px; */
  margin: -10px;
}
  .circle-container img {
    display: block;
    width: 100%;
  }
 
  .deg45 {
    transform: rotate(45deg) translate(220px) rotate(-45deg);
  } 
 
  .deg135 {
    transform: rotate(135deg) translate(220px) rotate(-135deg);
  }
 
  .deg225 {
    transform: rotate(199deg) translate(220px) rotate(-199deg);
  }

  .deg270 {
    transform: rotate(270deg) translate(220px) rotate(90deg);
  }
  .deg315 {
    transform: rotate(340deg) translate(220px) rotate(-340deg);
  }

.circle-container-mobile img{
  width: 160px; 
}
.img1{
  padding-top: 90px;
}
.img2{
  padding-bottom: 90px;
}
 
.glow-on-hover {
  width: 220px;
  height: 60px;
  border:1px solid white ;
  outline: none;
  color: #fff;
  background: #020710;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #020710
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #020710;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}