@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} 
#root{
  background-color: #020710;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: #020710;
  overflow-x: hidden;
}
.cricket-video{
  object-fit: cover;
  height: 300px;
}
.cricket-video-mobile{
  object-fit: cover;
  height: 200px;
}


.Main
{
  height: 100vh;
}
.Hero
{
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  position: relative;
}

.bgvideo
{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.about-heading{
  position: relative;
  top: 23px;
  left: 23px;
  background-color: white;
  padding:10px;
  z-index: 11;
  width: 400px;
  height: 70px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 40px;
}

.about-heading p{
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.video-container{
  width: 100%;
  position: relative;
  height: 100vh;
}
.about-desktop{
  width: 100%;
  position: relative;

}
.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 10;
}


.model {
  position: relative;
  top: 10%;
  left: 4%;
  z-index: 1050;
  width: 45%;
  overflow: hidden;
  outline: 0;
  padding: 65px;
  padding-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.model-mobile {
  position: relative;
  top: 0%;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  padding: 20px 30px;

}

.model-heading{
  position: relative;
    top: -25px;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.model-heading-mobile{
  position: relative;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    color: #e9e9e9;
    font-size: 53px;
    font-weight: 700;
  line-height: 55px;
  
  
}
.model-desc{
  color: #e9e9e9;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: justify;
  text-justify: inter-word;
   
}
.team-desc{
  color: #e9e9e9;
    font-size: 19px;
    font-weight: 450;
    margin-bottom: 20px;
    text-align: justify;
  text-justify: inter-word;
   
}
.dates{display:'flex' ;margin-bottom: 30px;}
.date-mobile{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}
.date-desktop{
  font-size: 30px;
  font-weight:700;
  font-family: 'Poppins', sans-serif;
}




@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .model {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #02071052;  
  }
  .model-mobile {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    background-color: #0207108f;  
  }
}
.question{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 21px;
}

.answer{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
  font-size:18px;
}



.heading{
  text-align: center;
  justify-content: center;
  
}

.heading p{
  color:white;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.heading .faq{
  justify-content: right;
}

.footer-heading{
  text-align: center;
  justify-content: center;
  font-size:25px;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
.footer-link{
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 100px;
}
.footer-addr{
  text-align: center;
  justify-content: center;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.footer-addr-contact{
  font-size: 20px;
  font-weight: 600;
}
.circle-container {
  position: relative; 
  width: 1000px;
  height: 685px;
  margin-right: 170px;
}

.theme{
  color: #e9e9e9;
    font-size: 20px;
  text-justify: inter-word;
}

.circle-container div {
  display: block;
  position: absolute;
  top: 45%;
  left: 40%;
  width: 185px;
  /* height: 250px; */
  margin: -10px;
}
  .circle-container img {
    display: block;
    width: 100%;
  }
 
  .deg45 {
    transform: rotate(45deg) translate(220px) rotate(-45deg);
  } 
 
  .deg135 {
    transform: rotate(135deg) translate(220px) rotate(-135deg);
  }
 
  .deg225 {
    transform: rotate(199deg) translate(220px) rotate(-199deg);
  }

  .deg270 {
    transform: rotate(270deg) translate(220px) rotate(90deg);
  }
  .deg315 {
    transform: rotate(340deg) translate(220px) rotate(-340deg);
  }

@media screen and (max-width:1300px) {
  .circle-container div{
    width: 160px;
  }
  .deg45 {
    transform: rotate(45deg) translate(190px) rotate(-45deg);
  } 
 
  .deg135 {
    transform: rotate(135deg) translate(190px) rotate(-135deg);
  }
 
  .deg225 {
    transform: rotate(199deg) translate(190px) rotate(-199deg);
  }

  .deg270 {
    transform: rotate(270deg) translate(190px) rotate(90deg);
  }
  .deg315 {
    transform: rotate(340deg) translate(190px) rotate(-340deg);
  }
}

@media screen and (max-width:1100px) {
  .circle-container div{
    width: 130px;
  }
  .deg45 {
    transform: rotate(45deg) translate(185px) rotate(-45deg);
  } 
 
  .deg135 {
    transform: rotate(135deg) translate(185px) rotate(-135deg);
  }
 
  .deg225 {
    transform: rotate(199deg) translate(185px) rotate(-199deg);
  }

  .deg270 {
    transform: rotate(270deg) translate(185px) rotate(90deg);
  }
  .deg315 {
    transform: rotate(340deg) translate(185px) rotate(-340deg);
  }
}


.circle-container-mobile img{
  width: 160px; 
}
.img1{
  padding-top: 90px;
}
.img2{
  padding-bottom: 90px;
}
 
.glow-on-hover {
  border:3px solid white ;
  outline: none;
  color: #fff;
  background-color: #02071052;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}


.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  background: #020710
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
background-color: #02071052;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.schedule{
  width:fit-content;
  font-size: 20px;
    font-weight: 500;
  cursor: pointer;
  color: black;
  
  padding: 5px 10px;
}
.schedule-mobile{
  width:fit-content;
  font-size: 20px;
    font-weight: 500;
  cursor: pointer;
  color: black;
  border: 2px white;
  border-radius: 10px;
  background-color: white;
  padding: 5px 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  color: white;
  font-size: 1.5rem;
  padding:10px;
  margin-bottom: 5px;
  
  
}

.button-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);

}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 1s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}